.embla {
    /*width: min(80vw,1080px);*/
    overflow: hidden;
    /*max-width: 1080px;*/

}
.embla__container {
    display: flex;
    height: auto;
    margin-bottom: 10px;
    align-items: stretch;

}
.embla__container > *{
    /*height: 100%;*/
    /*width: 100%;*/
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex: 0 0 100%;
    margin-right: 15px;
    margin-left: 15px;
}
.dot{
    border: 1px solid white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: block;
}
.dot.active{
    background-color: white;

}
.dots{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}